<!DOCTYPE html>
<html lang="en">
<head>
  <title>ACCESO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>BIENVENIDO DE NUEVO</h2>
  <form action="/acceder" method="POST">
    <div class="form-group">
      <label for="email">Usuario:</label>
      <input type="email" class="form-control" required autocomplete="off" id="email" placeholder="Correo Electrónico" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" required autocomplete="off" id="pswd" placeholder="Contraseña" name="pswd">
    </div>
    <div class="form-group form-check">
    </div>
    <input type="submit" class="btn btn-primary" value="Ingresar">
    <p>{{mensaje}}</p>
  </form>
  <!-- este boton tiene que hacer que inicie sesion-->
  <form action="/" method="POST" align="center">
    <input type="submit" class="btn btn-primary" value="Página Principal">
  </form>
</div>

</body>
</html>
