<!DOCTYPE html>
<html lang="en">
<head>
  <title>"CREAGE"</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>NUEVO CONTACTO</h2>
  <form action="/nuevocontacto" method="POST">
    <div class="form-group">
      <label for="">Seleccione una Agenda</label>
      <select name="select_agenda">
        <option value="{{consulta.id}}">{{consulta.nombre_agenda}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Nombre/s:</label>
      <input type="text" class="form-control" required autocomplete="off" id="name" placeholder="--" name="name">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido/s:</label>
      <input type="text" class="form-control" required autocomplete="off" id="apellido" placeholder="--" name="apellido">
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" class="form-control" required autocomplete="off" id="email" placeholder="--" name="email">
    </div>
    <div class="form-group">
      <label for="telefono">Número de Teléfono:</label>
      <input type="text" class="form-control" required autocomplete="off" id="telefono" placeholder="--" name="telefono">
    </div>
    <div class="form-group">
      <label for="address">Dirección:</label>
      <input type="address" class="form-control" required autocomplete="off" id="address" placeholder="--" name="address">
    </div>
    <div class="form-group form-check">
    </div>
    <input type="submit" class="btn btn-primary" value="Guardar">
    <p>{{mensaje}}</p>
  </form>
  <!-- este boton tiene que hacer que inicie sesion-->
  <form action="/vistas" method="POST" align="center">
    <input type="submit" class="btn btn-primary" value="Regresar">
  </form>
</div>

</body>
</html>
